/*

* Override Pages default styles or create your own styles here

*/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:400,600,700");
.icon-thumbnail {
  margin-right: 0 !important;
}

body.menu-pin .page-container .page-content-wrapper .content {
  padding-left: 0;
}

body.fixed-header .header {
  z-index: 1070;
}

.requests-container {
  max-width: 1140px;
  margin: 0 auto;
}

.dashboard-menu h1 {
  font-family: "Montserrat";
  font-size: 36px;
  color: #262626;
  text-align: center;
  font-weight: 600;
  margin-top: 90px;
  margin-bottom: 85px;
}

.dashboard-menu .menu {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dashboard-menu .menu a {
  width: 30%;
  background: #fff;
  padding: 25px 35px;
  text-align: center;
  border: 1px solid #dfe0e0;
  border-radius: 5px;
  margin: 0 10px 20px;
}

.dashboard-menu .menu a h2 {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: #262626;
}

.dashboard-menu .menu a p {
  color: #81858b;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.requests-container .req-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requests-container .req-heading h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #262626;
}

.requests-container .req-heading #new-req {
  background: #ff3f17 !important;
  background: -moz-linear-gradient(left, #ff3f17 0%, #ee8f0c 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #ff3f17 0%,
    #ee8f0c 100%
  ) !important;
  background: linear-gradient(to right, #ff3f17 0%, #ee8f0c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff3f17", endColorstr="#ee8f0c", GradientType=1) !important;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 40px;
  border: 0;
  padding: 12px 40px;
  letter-spacing: 0.05em;
}

.requests-container .card {
  border-radius: 4px;
  background: #fafafa;
  border: 0;
  position: relative;
  /* z-index: 1060; */
}

.requests-container .card.active {
  /* border: 1px solid #ff4d00; */
}

.card--inner {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

.card--inner.active {
  border: 1px solid #ff4d00;
}

/* .modal-backdrop.show {
    display: none;
} */

.requests-container .card .card-header {
  border-radius: 4px;
  border-left: 5px solid #ff4d00;
  padding: 25px 30px;
  cursor: pointer;
  background: #fff;
}

.requests-container .card .card-header .card-title {
  font-family: "Open Sans";
  font-size: 18px;
  color: #262626;
  font-weight: 400;
  width: 80%;
}

.requests-container .card .card-header .upper {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.requests-container .status,
.requests-container .status .badge-success {
  display: flex;
  align-items: center;
}

.requests-container .upper button i.fa {
  width: 9px;
  font-size: 20px;
  color: #81858b;
}

.requests-container .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  display: none;
}

#app-global-modal .modal-header {
  padding: 30px 0;
}

#app-global-modal .modal-header h3 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #3a3a3a;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

#app-global-modal .modal-body {
  padding: 0;
}

.div-new-request button {
  background: #ff3f17 !important;
  background: -moz-linear-gradient(left, #ff3f17 0%, #ee8f0c 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #ff3f17 0%,
    #ee8f0c 100%
  ) !important;
  background: linear-gradient(to right, #ff3f17 0%, #ee8f0c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff3f17", endColorstr="#ee8f0c", GradientType=1) !important;
  border: 0;
  border-radius: 40px;
  display: block;
  margin: 30px auto;
  padding: 15px 65px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.div-new-request button:hover {
  border: 0;
}

.div-new-request .form-control {
  padding: 20px 40px;
  border-radius: 0;
  font-family: "Montserrat";
  color: #929497;
  border-bottom: 0;
}

#request_title {
  font-size: 18px;
  font-weight: 600;
}

#description {
  font-size: 14px;
  font-weight: 400;
}

#request_title::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #929497;
  opacity: 1 !important;
}

#request_title::-moz-placeholder {
  /* Firefox 19+ */
  color: #929497;
  opacity: 1 !important;
}

#request_title:-ms-input-placeholder {
  /* IE 10+ */
  color: #929497;
  opacity: 1 !important;
}

#request_title:-moz-placeholder {
  /* Firefox 18- */
  color: #929497;
  opacity: 1 !important;
}

.modal_content-heading h2 {
  font-family: "Montserrat";
  font-size: 20px;
  color: #262626;
  font-weight: 600;
}

.modal_content-heading .total-time {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.modal_content-heading .total-time > * {
  margin-right: 10px;
}

.modal_content-heading .total-time span {
  color: #81858b;
  font-family: "Open Sans";
  font-size: 12px;
}

.comment-container .comments .user .avatar {
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  background: #ff4d00;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#comment {
  margin-bottom: 20px;
  background: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  color: #81858b;
}

.comment-container .user {
  display: flex;
  justify-content: space-between;
}

.comment-container .user .message .name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  color: #262626;
  margin: 10px 0;
}

.comment-container .user .message .name .time {
  font-family: "Open Sans";
  font-size: 12px;
  color: #81858b;
  font-weight: 400;
  margin-left: 15px;
}

.comment-container .user .message > p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #262626;
  font-weight: 400;
}

.write-comment {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-send {
  background: #ff3f17 !important;
  background: -moz-linear-gradient(left, #ff3f17 0%, #ee8f0c 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #ff3f17 0%,
    #ee8f0c 100%
  ) !important;
  background: linear-gradient(to right, #ff3f17 0%, #ee8f0c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff3f17", endColorstr="#ee8f0c", GradientType=1) !important;
  border: 0;
  border-radius: 40px;
  display: block;
  margin-left: 15px;
  padding: 10px 50px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.write-comment input[type="text"] {
  font-family: "Open Sans";
  font-size: 14px;
  color: #81858b;
  font-weight: 400;
  background: #f4f4f4;
}

/* .modal-open {
    overflow-y: visible;
} */

#modalSlideLeft.modal.fade.slide-right .close {
  top: 60px;
}

.pg-alt_menu:before {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 20px;
}

.username {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  color: #262626;
}

.modal-open.scroll-bar-active {
  overflow-y: visible;
}

#search {
  border-radius: 4px;
  border: 0;
  box-shadow: none;
  padding: 5px 10px 5px 35px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  color: #81858b;
  background: #f4f4f4 url(../img/dashboard/icon-magnifying.png) no-repeat 10px
    center;
}

.login-wrap {
  background: #fff;
}

.login-wrap .login-wrapper .login-container {
  margin: 0 auto;
  width: 100%;
  float: none;
}

.login-wrap .sign-in {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  padding: 70px 50px 150px;
  border-radius: 20px;
  overflow: hidden;
}

.sign_in--heading h2 {
  font-family: "Montserrat";
  font-size: 36px;
  color: #ff3f17 !important;
  text-align: center;
  font-weight: 600;
}

.sign_in--heading p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #81858b;
  text-align: center;
}

form#loginform {
  margin-bottom: 30px;
}

#loginform button {
  background: #ff3f17 !important;
  background: -moz-linear-gradient(left, #ff3f17 0%, #ee8f0c 100%) !important;
  background: -webkit-linear-gradient(
    left,
    #ff3f17 0%,
    #ee8f0c 100%
  ) !important;
  background: linear-gradient(to right, #ff3f17 0%, #ee8f0c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff3f17", endColorstr="#ee8f0c", GradientType=1) !important;
  border: 0;
  border-radius: 40px;
  display: block;
  padding: 10px 50px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  min-height: 50px;
  margin-bottom: 20px;
}

.sign-up-social {
  background: #ff3f17 !important;
  background: -moz-linear-gradient(left, #ff3f17 0%, #ee8f0c 100%) !important;
  background: -webkit-linear-grdient(left, #ff3f17 0%, #ee8f0c 100%) !important;
  background: linear-gradient(to right, #ff3f17 0%, #ee8f0c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff3f17", endColorstr="#ee8f0c", GradientType=1) !important;
  width: 100%;
  position: absolute;
  height: 150px;
  left: 0;
}

.sign-up-social p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 20px auto;
}

.sign-up-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.sign-up-social ul li {
  width: 100%;
  margin: 0 10px;
  max-width: 50px;
}

.sign-up-social ul li img {
  width: 100%;
  height: auto;
}

#loginform #email {
  background: #fff url(../img/login/icon-user.png) no-repeat 20px center !important;
}

#loginform #pw {
  background: #fff url(../img/login/icon-padlock.png) no-repeat 20px center !important;
}

.sign_in--heading {
  margin-bottom: 30px;
}

#loginform .input-group .form-control {
  padding: 20px 20px 20px 50px;
  border-radius: 40px;
  border: 1px solid #f8f8f8;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
}

.dont-have {
  font-family: "Open Sans";
  font-size: 14px !important;
  color: #81858b;
  text-align: center;
}

.dont-have a {
  color: #262626;
  font-weight: 600;
}

@media only screen and (max-width: 1800px) {
  .requests-container.active .card {
    width: 70%;
    position: relative;
    z-index: 1060;
  }
}

@media only screen and (max-width: 1600px) {
  .requests-container.active .card {
    width: 60%;
  }
}

@media only screen and (max-width: 1024px) {
  .login-wrap .sign-in {
    top: auto;
    transform: none;
  }
  .login-wrap .login-wrapper .login-container {
    margin: 50px auto 200px;
    padding: 0 15px;
  }
  .requests-container .card .card-header .card-title {
    width: 70%;
  }
  .requests-container.active .card {
    width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  .login-wrap .sign-in {
    padding-left: 15px;
    padding-right: 15px;
  }
}
